<h1>Sign in</h1>

<%= form_with url: sign_in_path do |form| %>
  <div class="field mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email, class: "form-control", placeholder: "user@example.com" %>
  </div>

  <div class="field mb-3">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control", placeholder: "user@example.com" %>
    <%= link_to 'Forgot your password', password_reset_path %>
  </div>

  <div class="field">
    <%= form.submit 'Login', class: "btn btn-primary" %>
  </div>
<% end %>
