<h1>Invite new user via email</h1>

<%= form_with model: @user, url: sign_up_path do |form| %>
  <%# <% if @user.errors.any? %1> %>
  <%#   <div class="alert alert-danger"> %>
  <%#     <% @user.errors.full_messages.each do |message| %1> %>
  <%#       <div> %>
  <%#         <%= message %1> %>
  <%#       </div> %>
  <%#     <% end %1> %>
  <%#   </div> %>
  <%# <% end %1> %>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email, class: "form-control", placeholder: 'user@example.com' %>
  </div>

  <div class="mb-3">
    <%= form.submit 'Invite user', class: 'btn btn-primary' %>
  </div>
<% end %>
