<p style="color: green"><%= notice %></p>

<%= form_with url: show_by_sn_path, method: 'get' do |form| %>
  <%= form.label :serial_number, "search with serial number" %>
  <%= form.text_field :serial_number, class: 'form-control', placeholder: '123abc' %>
<% end %>

<div id="acs" class="mt-5">
  <% @acs.each do |ac| %>
    <%= ac.serial_number %> - <%= link_to "Show", ac %> <br />
  <% end %>
</div>
