<!DOCTYPE html>
<html>
  <head>
    <title>SmartAc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  </head>

  <body>
    <header>
      <h2>Smart AC</h2>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>copyright 2021</p>
    </footer>
  </body>
</html>
